@charset "UTF-8";
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-SemiBold.eot");
  src: url("../fonts/Oswald-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff"), url("../fonts/Oswald-SemiBold.ttf") format("truetype"), url("../fonts/Oswald-SemiBold.svg#Oswald-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Medium.eot");
  src: url("../fonts/Oswald-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.ttf") format("truetype"), url("../fonts/Oswald-Medium.svg#Oswald-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-Bold.eot");
  src: url("../fonts/Krub-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Krub-Bold.woff2") format("woff2"), url("../fonts/Krub-Bold.woff") format("woff"), url("../fonts/Krub-Bold.ttf") format("truetype"), url("../fonts/Krub-Bold.svg#../fonts/Krub-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-Regular.eot");
  src: url("../fonts/Krub-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Krub-Regular.woff2") format("woff2"), url("../fonts/Krub-Regular.woff") format("woff"), url("../fonts/Krub-Regular.ttf") format("truetype"), url("../fonts/Krub-Regular.svg#../fonts/Krub-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Krub";
  src: url("../fonts/Krub-SemiBold.eot");
  src: url("../fonts/Krub-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Krub-SemiBold.woff2") format("woff2"), url("../fonts/Krub-SemiBold.woff") format("woff"), url("../fonts/Krub-SemiBold.ttf") format("truetype"), url("../fonts/Krub-SemiBold.svg#Krub-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: #181818;
  position: relative;
}
body .wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  color: #ffffff;
  -ms-grid-rows: 120px 1fr 520px;
  -ms-grid-columns: minmax(100%, 1fr);
      grid-template: [start] "header" 120px [row2] [row2] "main" 1fr [row3] [row3] "footer" 520px [row-end]/minmax(100%, 1fr);
}
body .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  padding: 15px;
  grid-area: header;
  font-family: Oswald;
  font-weight: 600;
  font-size: 1.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, 300px) auto minmax(auto, 900px);
      grid-template: 1fr/minmax(auto, 300px) auto minmax(auto, 900px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
body .header .header__logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 1.3em;
}
body .header .header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}
body .header .header__menu .header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}
body .header .header__menu .header__list a {
  color: #ffffff;
  padding: 6px 14px;
}
body .header .header__menu .header__list li:last-child a {
  color: #181818;
  background: #ffffff;
}
body .header .header__menu .menu_bar {
  display: none;
}
@media (max-width: 1050px) {
  body .header .header__menu {
    display: -ms-grid;
    display: grid;
    justify-items: end;
  }
  body .header .header__menu .header__list {
    display: none;
  }
  body .header .header__menu .menu_bar {
    width: 40px;
    display: block;
  }
}
body .main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  padding: 15px;
  grid-area: main;
}
body .main .beginners {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr/1fr 1fr 1fr;
}
body .main .beginners .beginners__item_1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
}
body .main .beginners .beginners__item_1 .ui {
  font-size: 9em;
  font-family: "Krub";
  font-weight: bold;
  margin: -8px;
  display: inline-block;
  margin-top: 90px;
}
body .main .beginners .beginners__item_1 .ui span {
  color: #a460f9;
  height: 20px;
  width: 22px;
}
body .main .beginners .beginners__item_1 .bgn {
  font-family: "Krub";
  font-weight: normal;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 3.2em;
  margin-top: 290px;
}
body .main .beginners .beginners__item_1 .bgn span {
  font-weight: bold;
}
body .main .beginners .beginners__item_1 .bec {
  font-family: "Krub";
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  padding-left: 24px;
  position: relative;
  -webkit-transform: translate(46%, -170px);
          transform: translate(46%, -170px);
}
body .main .beginners .beginners__item_1 .bec:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  left: 0;
}
@media (max-width: 1050px) {
  body .main .beginners .beginners__item_1 .bec {
    display: none;
  }
}
@media (max-width: 840px) {
  body .main .beginners .beginners__item_1 .bec {
    display: none;
  }
  body .main .beginners .beginners__item_1 .ui {
    font-size: 7em;
  }
}
body .main .beginners .beginners__item_2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
body .main .beginners .beginners__item_2 .circle {
  margin: 160px 20px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #a460f9;
}
body .main .beginners .beginners__item_2 .person {
  z-index: 2;
  position: absolute;
}
body .main .beginners .beginners__item_2 .person img {
  height: 100%;
}
body .main .beginners .beginners__item_3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  margin-top: 80px;
}
body .main .beginners .beginners__item_3 .edtn {
  font-family: "Krub";
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  position: relative;
  letter-spacing: 0.3em;
  padding: 16px 30px 20px;
  position: absolute;
  right: -100px;
}
body .main .beginners .beginners__item_3 .edtn span {
  line-height: 32px;
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
}
body .main .beginners .beginners__item_3 .edtn span:last-child {
  font-size: 2.5em;
}
body .main .beginners .beginners__item_3 .guide {
  margin-top: 180px;
  max-width: 300px;
}
body .main .beginners .beginners__item_3 .guide span {
  text-align: justify;
  display: block;
  font-family: "Krub";
  font-weight: 600;
  margin-bottom: 40px;
  line-height: 26px;
}
body .main .beginners .beginners__item_3 .guide span:first-child {
  font-size: 1.35em;
  font-family: "Krub";
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
body .main .beginners .beginners__item_3 .guide .footer span {
  font-size: 1.2em;
  font-family: "Oswald";
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  background: #a460f9;
  padding: 12px 20px;
}
body .main .beginners .beginners__item_3 .guide .footer span:last-child {
  background: none;
}
@media (max-width: 840px) {
  body .main .beginners .beginners__item_3 .guide .text {
    display: none;
  }
  body .main .beginners .beginners__item_3 .guide .footer {
    margin: 30px;
  }
}
body .main .beginners .skill {
  top: 780px;
  left: 0;
  z-index: 2;
  background: #181818;
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 100%;
  height: 150px;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr/1fr 1fr 1fr;
  grid-auto-flow: column;
}
body .main .beginners .skill .skill_item {
  font-family: "Oswald";
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 3.5em;
}
body .main .beginners .skill .skill_item .num span {
  color: #a460f9;
}
body .main .beginners .skill .skill_item .text {
  margin-left: 12px;
  font-size: 0.5em;
  display: flemex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Krub";
}
body .main .beginners .skill .skill_item .text span {
  display: block;
  font-weight: bold;
}
body .main .beginners .skill .skill_item .text span:first-child {
  font-weight: normal;
}
@media (max-width: 1050px) {
  body .main .beginners {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 15% 1fr 30%;
        grid-template: 1fr/15% 1fr 30%;
  }
}
@media (max-width: 759px) {
  body .main .beginners {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1% 1fr 30%;
        grid-template: 1fr/1% 1fr 30%;
  }
  body .main .beginners .beginners__item_1 .ui {
    font-size: 5em;
    font-family: "Krub";
    font-weight: bold;
    margin: -8px;
    display: inline-block;
    margin-top: 50px;
  }
  body .main .beginners .beginners__item_1 .ui span {
    color: #a460f9;
    height: 20px;
    width: 22px;
  }
  body .main .beginners .beginners__item_1 .bgn {
    font-family: "Krub";
    font-weight: normal;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    font-size: 2em;
    margin-top: 210px;
  }
  body .main .beginners .beginners__item_1 .bgn span {
    font-weight: bold;
  }
  body .main .beginners .beginners__item_2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  body .main .beginners .beginners__item_2 .circle {
    margin: 100px 20px;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    background: #a460f9;
  }
  body .main .beginners .beginners__item_2 .person {
    z-index: 2;
    position: absolute;
    height: 100%;
  }
  body .main .beginners .skill {
    top: 490px;
    left: 0;
    z-index: 2;
    background: #181818;
    display: -ms-grid;
    display: grid;
    position: absolute;
    width: 100%;
    height: 150px;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template: 1fr/1fr 1fr 1fr;
    grid-auto-flow: column;
  }
  body .main .beginners .skill .skill_item {
    font-family: "Oswald";
    font-weight: 600;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 3.5em;
  }
  body .main .beginners .skill .skill_item .num span {
    color: #a460f9;
  }
  body .main .beginners .skill .skill_item .text {
    margin-left: 12px;
    font-size: 0.5em;
    display: flemex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Krub";
  }
  body .main .beginners .skill .skill_item .text span {
    display: block;
    font-weight: bold;
  }
  body .main .beginners .skill .skill_item .text span:first-child {
    font-weight: normal;
  }
}
body .main .shadow {
  background: #181818;
  width: 1400px;
  margin: -74px auto 0;
  height: 150px;
  -webkit-box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.5);
}
body .footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}